<!DOCTYPE html>
<html>
<head>
  <title>SiteMaker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if current_user %>
    <% menu_orientation = current_user.menu_orientation %>
  <% else  %>
    <% menu_orientation = "horizontal" %>
  <% end  %>

  <% if current_user.present? %>
    <link href="http://bootswatch.com/<%= current_user.theme %>/bootstrap.min.css" rel="stylesheet">
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/navigation/#{menu_orientation}" %>

<%= render 'layouts/flash' %>

<div class="container-fluid">
  <div class="row" style="height:100%;">
    <div class="col-md-1"></div>
    <div class="col-md-10"><%= yield %></div>
    <div class="col-md-1"></div>
  </div>
</div>
</body>
<footer class="footer">
  <div class="container">
  <p class="text-muted">2015, JacksonTeam. All rights reserved.</p>
  </div>
</footer>
</html>
